* {
  box-sizing: border-box;
}

:root {
  --primary: #006666;
  --secondary: #009999;
  --tertiary: #bbeeee;
  --grey: #999;
  font-size: 36px;
}

body {
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 20px 30px;
}
header #high-score {
    float: left;
}
header #score {
    float: right;
}

header div {
  color: var(--grey);
  margin: 5px 0 20px;
  font-size: 0.6rem;
}

#high-score a {
  text-decoration: none;
  color: var(--primary);
  transition: all .35s;
}
#high-score a:hover {
  color: var(--secondary);
} 

section {
  margin: 10px auto;
  width: 75%;
  text-align: center;
}s

section h1 {
  font-size: 1.3rem;
}
section ol {
  width:fit-content;
  padding: 0;
  margin: 0;
}
section button {
  margin: 8px auto;
}
section ol a, section button, section form .submit {
  padding: 15px 40px;
  background:var(--primary);
  margin:25px auto;
  display:block;
  color:white;
  border-radius: 36px;
  text-decoration: none;
  border: none;
  transition: all .35s;
  font-size: 0.9rem;
}

section form .submit {
  margin: 0;
}

section ol a {
  text-align:left;
  padding-left: 75px;
  width: 100%;
  padding-right: 40px;
  border-radius: 0 36px 36px 0;
}
section ol a:hover {
  background: var(--secondary);
  width: 110%;
}

section button:hover, section form .submit:hover {
  background: var(--secondary);
  cursor: pointer;
}

#score-list {
  width: 80%;
  margin: 0 auto;
}
.even, .odd {
  padding: 10px 60px 10px 100px;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.odd {
  background: var(--tertiary);
}
.even {
  background: #ddfeff;
}

.initials {
  padding-left: 55px;
  float: left;
}
.score {
  float: right;
}

#button-row {
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

#answer-mark {
  width: 100%;
  margin-top: 30px;
  border-top: 2px solid #666;
  color: var(--grey);
  padding-top: 20px;
  font-size: 1.3rem;
  font-style: italic;
  text-align: left;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

#initials {
  margin: 0 25px;
  width: 300px;
  height: 50px;
  font-size: 1rem;
  color: var(--grey);
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 1024px) {
  .even, .odd {
    padding: 10px 30px 10px 70px;
  }  
  .initials {
    padding-left: 0px;
  }
  #button-row {
    display: inline-block;
    width: 100%;
  }
  button, section form .submit {
    width: 100%;
    text-align: center;
    padding: 15px 30px;
    margin: 0;
  }
  #score-list {
    width: 100%;
  }
  section ol a {
    font-size: .75rem;
  }
  form {
    padding-top: 20px;
    display: block;
    text-align: center;
  }
  h1 {
    font-size: 1rem;
  }
  #initials {
    margin: 10px 0 20px;
    width: 100%;
  }
  #options {
    font-size: .75rem;
  }
}
