* {
  box-sizing: border-box;
}

:root {
  --primary: #440099;
  --secondary: #8833CC;
  --tertiary: #ddccff;
  --grey: #999;
  font-size: 36px;
}

body {
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 20px 30px;
}
header #high-score {
    float: left;
}
header #score {
    float: right;
}

header div {
  color: var(--grey);
  margin: 5px 0 20px;
  font-size: 0.6rem;
}

section {
  margin: 10px auto;
  width: 75%;
  text-align: center;
}

section h1 {
  font-size: 1.3rem;
}
section ol {
  width:fit-content;
}
section button {
  margin: 8px auto;
}
section ol a, section button, section form .submit {
  padding: 15px 30px;
  background:var(--primary);
  margin:15px 0;
  display:block;
  color:white;
  text-align:left;
  border-radius: 36px;
  text-decoration: none;
  border: none;
  transition: all .35s;
  font-size: 1rem;
 
}
section ol a {
  padding-left: 55px;
  width: 100%;
  padding-right: 40px;
  border-radius: 0 36px 36px 0;
}
section ol a:hover {
  background: var(--secondary);
  width: 110%;
}

section button:hover, section form .submit {
  background: var(--secondary);
  cursor: pointer;
}

#score-list {
  width: 80%;
  margin: 0 auto;
}
.even, .odd {
  padding: 10px 20px 10px 100px;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.odd {
  background: var(--tertiary);
}

.initials {
  padding-left: 25px;
  float: left;
}
.score {
  float: right;
}


#answer-mark {
  width: 100%;
  margin-top: 30px;
  border-top: 2px solid #666;
  color: var(--grey);
  padding-top: 20px;
  font-size: 36px;
  font-style: italic;
  text-align: left;
}
